# dependencies
/node_modules

# build
/dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# editor
.vscode
.idea

# certificates
*.pem
*.key

# system
.DS_Store

#Vite
.vite/

coverage/

package-lock.json

# api docs
api/